@import url(http://fonts.googleapis.com/css?family=Alegreya);
@import url(http://fonts.googleapis.com/css?family=Caudex:400,700,400italic,700italic|GFS+Neohellenic:400,700,400italic,700italic|Ubuntu+Mono:400,700,400italic,700italic|Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic|Noto+Sans:400,700,400italic,700italic|Fira+Mono:400,700|Tinos:400,700,400italic,700italic|Arimo:400,700,400italic,700italic|Noto+Serif:400,700,400italic,700italic|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Nova+Mono|Cousine:400,700,400italic,700italic|Ubuntu+Condensed|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:300italic,400italic,700italic,400,300,700|Open+Sans+Condensed:300,300italic,700|Roboto+Slab:400,100,300,700|Play:400,700|Comfortaa:400,300,700|Didact+Gothic|Cardo:400,700,400italic|Jura:400,300,500,600|Advent+Pro:400,100,200,300,500,600,700|Anonymous+Pro:400,400italic,700,700italic|Press+Start+2P|GFS+Didot&subset=latin,greek);
body {
	margin: 0;
}
section {
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
h1 {
	font-weight: 800;
	margin: 0;
}
a.white {
	color: white;
	text-decoration: underline;
}
nav {
	position: fixed;
	z-index: 999;
}
img.arrow {
	left: 48%;
	bottom: 10px;
	position: absolute;
	-webkit-transition: all 0.1s  ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
img.arrow:hover {
	bottom: 5px;
	-webkit-transition: all 0.1s  ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
img.arrow-top {
	left: 48%;
	bottom: 5px;
	position: absolute;
	-webkit-transition: all 0.1s  ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
img.arrow-top:hover {
	bottom: 10px;
	-webkit-transition: all 0.1s  ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
/* backgrounds */
.likavitos {
	background: url('img/likavitos.jpg');
	background-position: center;
	background-size: cover;
}
.new-york {
	background: url('img/new-york.gif');
	background-size: cover;
}
.olympos {
	background: url('img/olympos.jpg');
	background-position: center;
	background-size: cover;
}
.moonlight {
	background-image: url("img/moonlight.jpg");
	background-size: cover;
}
.old-london {
	background-image: url("img/london.jpg");
	background-size: cover;
	background-position: center;
}
.night {
	background-image: url("img/night.jpg");
	background-size: cover;
	background-position: center;
}
.turkey {
	background-image: url("img/turkey.jpg");
	background-size: cover;
	background-position: center;
}
.smoke {
	background-image: url("img/smoke.jpg");
	background-size: cover;
	background-position: center;
}
.sea {
	background-image: url("img/sea.jpg");
	background-size: cover;
	background-position: center;
}
.sunset {
	background-image: url("img/sunset.jpg");
	background-size: cover;
	background-position: center;
}
p.columns-text {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
/* font colors */

.white {
	color: white;
}

/* fonts */
.ubuntu { 
	font-family: 'Ubuntu', sans-serif;
	}
.roboto-slab {
	font-family: 'Roboto Slab', serif;
}
.open-sans {
	font-family: 'Open Sans', sans-serif;
}
.comfortaa {
	font-family: 'Comfortaa', cursive;
}
.play /* δεν δείχνει το τελικό σίγμα */ {
	font-family: 'Play', sans-serif;
}
.advent-pro {
	font-family: 'Advent Pro', sans-serif;
}
.fira-sans {
	font-family: 'Fira Sans', sans-serif;
}
.neohellenic /* δεν δείχνει σωστά τα νούμερα */ {
	font-family: 'GFS Neohellenic', sans-serif;
}
.fira-mono {
	font-family: 'Fira Mono' ;
}
.tinos {
	font-family: 'Tinos', serif;
}
.cousine {
	font-family: 'Cousine';
}
.ubuntu-condensed {
font-family: 'Ubuntu Condensed', sans-serif;
}
.didot {
	font-family: 'GFS Didot', serif;
}
.didact {
	font-family: 'Didact Gothic', sans-serif;
}
.jura {
	font-family: 'Jura', sans-serif;
}
.anonymous {
	font-family: 'Anonymous Pro' ;
}
.open-sans-condensed {
	font-family: 'Open Sans Condensed', sans-serif;
}
.noto-sans {
	font-family: 'Noto Sans', sans-serif;
}
.roboto {
	font-family: 'Roboto', sans-serif;
}
.caudex {
font-family: 'Caudex', serif;
}
/* english fonts */
.fonts-names {
	padding: 10px;
	font-family: 'Alegreya', serif;
	font-size: 15px;
}



.shadow {
	text-shadow: 3px 3px 5px #000;
}

/* share buttons */
#share {
	background: #6C6C6C;
}
.share {
	position: relative;
	float: left;
	min-height: 30vh;
	background:#6C6C6C;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}
.share:hover {
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}
.facebook {
	background-image: url('img/fb.png');
	
}
.twitter {
	background-image: url('img/tw.png');
}
.google {
	background-image: url('img/g+.png');
}

.facebook:hover {
	background-color: #3b5998;
}
.google:hover {
	background-color: #dd4b39;
}
.twitter:hover {
	background-color: #55acee;
}